*.aux
*.log
*.gz
Dokumentation/build/SEP_Gruppe_11_Analyse-_und_Entwurfsdokument.pdf
Dokumentation/SEP_Gruppe_11_Analyse-_und_Entwurfsdokument.pdf
*.toc
*.lof
*.lot
*.out
*.vpp~*
*.user
*.autosave
Quellcode/build-SEP_Gruppe11_Waermeleitung-Desktop_Qt_5_4_2_MinGW_32bit-Debug/
build-SEP_Gruppe11_Waermeleitung-Desktop_Qt_5_4_1_MinGW_32bit-Debug/