*.aux
*.log
*.gz
Dokumentation/build/SEP_Gruppe_11_Analyse-_und_Entwurfsdokument.pdf
Dokumentation/SEP_Gruppe_11_Analyse-_und_Entwurfsdokument.pdf
*.toc
*.lof
*.lot
*.out
*.vpp~*
*.user
*.autosave
Quellcode/build-*/
build-*/
*.o
*.Release
*.exe
*.Debug
Quellcode/algorithms/dco.hpp
*.a
Quellcode/algorithms/key.txt
Quellcode/Doxygen/html/*